@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;800&display=swap');

:root {
	--aquamarine: #90DEB5;
	--golden: #EFD79F;
	--grey: #F9F9F9;
	--black: #484848;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	font-size: 16px;
}

a { text-decoration: none; }

a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

a:focus, a:hover { color: var(--black); }

textarea, input {
    outline: none;
}

.no-highlight {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    /*overflow: hidden;*/
}

/*.container {
	background-color: var(--golden);
	height: 100vh;
    width: 100vw;
    display: block;
}*/

header {
	background-color: var(--aquamarine);
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-direction: column;*/
	/*justify-content: flex-end;*/
	/*align-items: bottom;*/
}

.title {
    font-family: Source Sans Pro, sans-serif;
    font-size: 2rem;
	font-weight: 800;
}

.header-nav {
	/*background-color: grey;*/
	right: 0vw;
	top: 2.5vh;
	position: absolute;
	display: flex;
	justify-content: flex-end;
}

.nav-items {
	margin-right: 1.5vw;
	/*margin-bottom: 0.5vw;*/
	color: var(--grey);
	font-size: 1.2rem;
}

main {
	background-color: var(--golden);
	height: 85vh;
	width: 100vw;
	/*display: block;*/
	display: flex;
	justify-content: center;
}

.grid {
	/*background-color: green;*/
	height: 100%;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: grid;
	grid-template-columns: repeat(12, 1fr) ;
	grid-template-rows: 10% 90%;
	/*justify-content: center;*/
	/*align-items: center;*/
}

.search-section {
	/*background-color: yellow;*/
	/*border: 2px solid black;*/
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin-top: 10vh;*/
}

.search-form {
	width: 22%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input {
	border: 1px solid black;
	border-radius: 5px;
}

/*.search-form label {
	color: pink;
}*/







.categories-section {
	background-color: rgba(255, 255, 255, 200);
	/*opacity: 50%;*/
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 2vh;
	grid-row: 2 / 3;
	grid-column: 1 / 3;

	justify-content: center;
	align-items: center;

	/*height: 50px;*/
}

.categories-title {
	/*background-color: red;*/
	height: 10%;
	width: 100%;
	text-align: center;
}

.categories-form {
	/*background-color: green;*/
	width: 90%;
	height: 80%;
	margin: 0 auto;
	color: black;

	display: block;
/*	display: flex;
	flex-direction: row;*/
	overflow-y: scroll;
	overflow-x: hidden;
}

.tag-item {
	height: 20px;
	/*display: block;*/


}


input[type="checkbox"] {
	vertical-align: middle;
}










.cats-section {
	/*background-color: purple;*/
	/*border: 2px solid black;*/
	grid-column: 3 / -1 ;
	overflow: hidden;
/*	align-items: center;
	justify-content: center;*/
}

.cats-grid {
	display: grid;
	padding-left: 3%;
	grid-template-columns: repeat(4, 15vw);
	grid-template-rows: repeat(3, 15vw);
	grid-column-gap: 1.5vw;
	grid-row-gap: 2vw;
	/*grid-gap: 1.6vw;*/
}

.cat-item {
	background-color: white;
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.cat-image {
	/*background-color: red; */
	width: 100%;
	height: 70%;
	background-size: contain;
	background-repeat: no-repeat;
}
.cat-title { 
	/*background-color: yellow; */
	width: 100%;
	height: 15%;
	text-align: center;
	font-size: 1.4rem;
}

.cat-text { 
	/*background-color: blue;*/
	width: 100%;
	height: 50%;
	justify-content: center;
	text-align: center;
	color: grey;
	
}




.footer-section {
	grid-column: 1 / -1;
}

footer {
	background-color: var(--black);
	height: 5vh;
	width: 100vw;
	color:  white;
	text-align: center;
	padding: auto;
}